body{
    background-color: black;
}

.eye{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 75px;
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 50%;

}

.iris{
    width: 20px;
    aspect-ratio: 1/1;
    background-color: black;
    border-radius: 100%;
}

.eye-box{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    margin-left: 10vw;
}